{% extends "base.html" %}
{% block nav %}<a href="{{url_for('index')}}"><span class="omj omj-home"></span> home</a> <a class="sel" href="{{url_for('about')}}"><span class="omj omj-about"></span> about</a> <a href="{{url_for('prj')}}"><span class="omj omj-project"></span> projects</a> <a href="{{url_for('info')}}"><span class="omj omj-contact"></span> contact</a>{% endblock %}
{% block content %}
			<h1>about me!</h1>
			<p>hewwo there. my name is rina, and i'm the creator of this website! i'm a 23-year-old from <span style="font-size: 120%;"> <i class="omj omj-srb" title="serbia" alt="serbia"></i></span><span class="screen-reader-only nosel">serbia</span>.</p>
			<p>i like watching cartoons and anime. i love plushies & anything cute, really!<br/> 
			i also like music, video games, visual novels, fantasy, hoodies, and more!<br/> 
			i write bad code, and make music sometimes. i do all of it for fun, so there's no value.<br/> 
			if you expect any kind of maturity, you came to the wong page on the interwebs.<br/> 
			i dont have much to offer, this is just a small page for the annoying shit i do, or like.
			</p>
{% endblock %}
