{% extends "base.html" %}
{% block nav %}<a href="{{url_for('index')}}"><span class="omj omj-home"></span> home</a> <a href="{{url_for('about')}}"><span class="omj omj-about"></span> about</a> <a href="{{url_for('prj')}}"><span class="omj omj-project"></span> projects</a> <a href="{{url_for('info')}}"><span class="omj omj-contact"></span> contact</a>{% endblock %}
{% block content %}
<h1>credits</h1>
<p>avatar by <a href="https://www.pixiv.net/en/artworks/95095370">&#27850;&#12392;&#12414;&#12426;</a> on pixiv.<br/>
header is a rina tennoji gif. rina tennoji is &copy; SUNRISE <br/>
roboto font by <a href="https://fonts.google.com/specimen/Roboto">google</a><br/>
emoji by <a href="https://openmoji.org/">openmoji</a><br/>
code and design by me (rina)</p>
{% endblock %}