{% extends "base.html" %}
{% block nav %}<a class="sel" href="{{url_for('index')}}"><span class="omj omj-home"></span> home</a> <a href="{{url_for('about')}}"><span class="omj omj-about"></span> about</a> <a href="{{url_for('prj')}}"><span class="omj omj-project"></span> projects</a> <a href="{{url_for('info')}}"><span class="omj omj-contact"></span> contact</a>{% endblock %}
{% block content %}
<h1>hewwo!<span class="omj omj-boba" title="boba emoji"></span> <span class="screen-reader-only nosel">bubble-tea drink emoji</span> </h1>
<p>welcome to the homepage of that longsleeve-obsessed nerd girl!<br/>
if you could click one of the buttons above, that would be nice <span class="omj omj-normal-heart" title="heart emoji"></span><span class="screen-reader-only nosel">heart emoji</span> <p>  
{% endblock %}


